* {
    margin: 0;
    padding: 0;
}

/* ~~~~~ HEADER ~~~~~ */
.profileImage {
    width: 175px;
}

.profileName {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

.profileLink {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

a.contactItems {
    border-bottom: 2px dashed;
    padding-bottom: 2px;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none;
    color: #0d76ec;
    font-family: 'Open Sans', sans-serif;
}

.profileContactItems {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-style: normal;
    font-size: 0.8rem;
}

.workContainer {
    margin-left: 0.5rem;
}

/* ~~~~~ Main --> About me ~~~~~ */

.sectionTitle {
    display: inline-block;
    position: relative;
    background-color: #f0f0f0;
    line-height: 1;
    padding: 10px 25px 15px 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: -15px;
}

/* ***** Carrer Objective SECTION ***** */

.interperosonalTitle {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
}

/* ***** Education Section ***** */

.timeline {
    border-left: 0.1rem solid #1976D2;
    position: relative;
    padding: 0rem 0 0rem 3rem;
}

.timelineBox {
    margin-bottom: 0.5rem;
    padding: 0rem 1rem;
    position: relative;
    border: 0.1rem solid #2196F3;
    transition: border-color .4s ease-out;
    margin-left: -10px;
}

.timelineBox:before {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    left: -2.8rem;
}

.timelineBox:before,
.timelineBox:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #2196F3;
    transition: background-color .4s ease-out;
}

.timelineBox:after {
    width: 2.2rem;
    height: 0.1rem;
    left: -2.3rem;
}

.timelineCaption {
    display: block;
    margin-top: .3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2196F3;
}

/* ***** Skill Section ***** */

.skillName {
    margin-bottom: 0.5rem;
    font-weight: 700;
    display: block;
    margin-top: 2.5px;
}

.progress {
    display: flex;
    height: 2rem;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 0.55rem;
}

.skillBar{
	height: 2rem;
    color: white;
    text-indent: -9999px;
    border-radius: 5px;
    overflow: hidden;
}

.skillLevels {
    position: relative;
    height: 2.5rem;
    font-size: 1.3rem;
}

.skillLevel {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}

.skillLevel:first-child {
    left: 10%;
}

.skillLevel:before {
    content: "";
    width: 2px;
    height: 48%;
    background-color: white;
    position: absolute;
    top: -1.6rem;
    left: 0;
}

.skillLevel:nth-child(2) {
    left: 30%;
}

.skillLevel:nth-child(3) {
    left: 50%;
}

.skillLevel:nth-child(4) {
    left: 70%;
}

.skillLevel:last-child {
    left: 90%;
}

.techTag {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: #e9ecef;
    border-left-width: 5px;
    border-left-style: solid;
    margin-top: 10px;
}

.techTag_blue {
    border-color: #17a2b8;
}

.techTag_yellow {
    border-color: #ffc107;
}

.skillsTags {
    margin-top: 1rem;
}

.techTag_green {
    border-color: green;
}

.techItem {
    position: relative;
    padding-left: 2.5rem;
    margin-right: 1rem;
}

.techItem:before {
    content: "";
    width: 1.5rem;
    height: 3px;
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
}

.techItem,
.techTag {
    font-size: 1rem;
    margin-top: 1rem;
}

.techItem_basic:before {
    background-color: #17a2b8;
}

.techItem_positive:before {
    background-color: #ffc107;
}

.techItem_perfect:before {
    background-color: #28a745;
}
@media print {
    .printWidthContact {
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }

    .workItems {
        margin-left: 2rem !important;
        width: 100%
    }

    .profileImage {
        margin-left: -1.5rem !important;
    }

    .workTitle {
        margin-left: 1.7rem;
    }
}